<?xml version="1.0" ?>
<robot name="object">

  <link name="mesh_object">

    <!-- Inertial properties (required for physics) -->
    <inertial>
      <origin xyz="0 -0.6 0" rpy="0 0 1.5708"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>

    <!-- Visual geometry -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/jerome/arm_base/install/arm_urdf/share/arm_urdf/meshes/M20.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>

    <!-- Collision geometry -->
    <collision>0.
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/jerome/arm_base/install/arm_urdf/share/arm_urdf/meshes/M20.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>

  </link>

</robot>
